@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-image: url(/public/imgs/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: #282e6e;
}

img {
  height: 5rem;
  width: 5rem;
}
